<% var municipalityCapitalized = Municipality.charAt(0).toUpperCase() + Municipality.slice(1)%>
<h3>Kuntarajapinta-raportti: <%= municipalityCapitalized%></h3>
<p>
  Infrao-o hyl채ttiin, mit채채n muutoksia ei tehty.
</p>
<p>
  Tarkista datan syntaksi sek채 arvot.
</p>
<h5>Virheviesti: </h5>
<p><%= Body.Message %></p>
<p>--------------------------------------------------------------------------</p>
<h3>Municipality API report: <%= municipalityCapitalized%></h3>
<p>
  Infrao-o rejected, and no changes have been made.
</p>
<p>
  Check the values and syntax of the data.
</p>
<h5>Error message: </h5>
<p><%= Body.Message %></p>