<h3>KKuntarajapinta-raportti:</h3>
<p>
  Lähetetty GeoJSON hylätty, muutoksia ei tehty:
</p>
<p>--------------------------------------------------------------------------</p>
<h3>Municipality API report:</h3>
<p>
  The uploaded GeoJSON has been rejected and thus no changes have been made:
</p>
<p><%= Body.Message %></p>